<!-- Load lunr for search --><script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.js"></script>

<!-- Store JS files independently -->
{{- $cloudinary := resources.Get "js/cloudinary-core-shrinkwrap.min.js" -}}
{{- $preline := resources.Get "js/preline.min.js" -}}
{{- $keymaster := resources.Get "js/keymaster.js" -}}
{{- $shortcuts := resources.Get "js/shortcuts.js" -}}
{{- $search := resources.Get "js/search.js" -}}
{{- $lazysizes := resources.Get "js/lazysizes.js" -}}
{{- $codeblock := resources.Get "js/copy-code-block.js" -}}
{{- $likes := resources.Get "js/likes.js" -}}


<!-- Concat JS, generate default app.js and app-likes -->
{{- $defaultJS := slice $cloudinary $preline $keymaster $search $shortcuts $lazysizes $codeblock $likes | resources.Concat "app.js" -}}
<!-- Set default -->
{{- $script := $defaultJS -}}
<!-- Assign script to global, minify and fingerprint -->
{{- $globalJS := $script | resources.Minify | resources.Fingerprint "sha512" -}}
<!-- Load script and authenticate hashed file --><script src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}" media="screen"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
{{ if .Params.math }}{{ partial "math.html" . }}{{ end }}

<!-- Load for interactive graphs -->
{{ if .Params.graph }}{{ partial "graph.html" . }}{{ end }}

<!-- Load for interactive graphs -->
{{ if .Params.diagram }}{{ partial "diagram.html" . }}{{ end }}

<!-- hsTheme -->
{{- $hsTheme := resources.Get "js/hs.theme-appearance.js" -}}
{{- $hsThemeJS := $hsTheme | resources.Fingerprint "sha512" -}}
<script src="{{ $hsThemeJS.Permalink }}" integrity="{{ $hsThemeJS.Data.Integrity }}" media="screen"></script>



<script>
    // Load feather icons
    feather.replace()

    // Animate to top scroll
  function animateToTop(e) {
    e.preventDefault()
    var scrollToTop = window.setInterval(function () {
      var pos = window.pageYOffset
      if (pos > 0) {
        window.scrollTo(0, pos - 20)
      } else {
        window.clearInterval(scrollToTop)
      }
    }, 2) //two seconds to scroll-up
  }
</script>
<script>
  var cl = cloudinary.Cloudinary.new({
    cloud_name: 'murshidazher',
  })
  cl.responsive()
</script>
