{{ "<!-- start of navigation -->" | safeHTML }}
<header
  class="sticky top-0 inset-x-0 flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full backdrop-blur flex-none transition-colors duration-500 lg:z-50 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent"
>
  <nav class="relative max-w-7xl w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" aria-label="Main Navigation">
    <div class="flex items-center justify-between">
      <a class="flex-none logo" href="/" aria-label="{{ .Site.Author.name }}'s logo">
        {{ partial "icons/logo.html" . }}
        <div hidden>
          <p class="hidden">{{ .Site.Params.Strapline }}</p>
          <a class="hidden" href="mailto:{{ .Site.Author.email }}" alt="Email Murshid Azher ({{ .Site.Author.email }})">{{ .Site.Author.email }}</a>
        </div>
      </a>
    </div>
    <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 sm:flex-row sm:items-center sm:justify-end sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:pl-7">
        {{ $.Scratch.Set "counter" 0 }}
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
          {{ $menu_item_url := .URL | relLangURL }}
          {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
          <a
            class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200 {{ if eq $menu_item_url $page_url -}}
              text-blue-600 dark:text-blue-500
            {{- else -}}
              text-gray-500 hover:text-gray-400 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500
            {{- end -}}"
            href="{{ .URL }}"
            >{{ print .Name }}</a
          >
        {{ end }}
        <a
          class="hs-dark-mode-active:hidden block hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
          href="#!"
          data-hs-theme-click-value="dark"
        >
          <i data-feather="moon" class="w-4 h-4"></i>
        </a>
        <a
          class="hs-dark-mode-active:block hidden hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
          href="#!"
          data-hs-theme-click-value="light"
        >
          <i data-feather="sun" class="w-4 h-4"></i>
        </a>
        <button
          type="button"
          class="hs-dropdown-toggle inline-flex justify-center items-center gap-2 font-semibold text-black  hover:text-slate-20 dark:text-white focus:outline-none text-sm"
          data-hs-modal="#global-search-modal"
        >
          <i data-feather="menu" class="w-4 h-4"></i>
        </button>
      </div>
    </div>
  </nav>
</header>

{{ "<!-- end of navigation -->" | safeHTML }}
