{{ "<!-- start of overlay -->" | safeHTML }}
<div class="absolute z-20 top-0 inset-x-0 flex justify-center overflow-hidden pointer-events-none">
  <div class="w-[108rem] flex-none flex justify-end">
    <picture>
      <source srcset="https://tailwindcss.com/_next/static/media/docs@30.beeb08605f12f699c5abc3814763b65e.avif" type="image/avif" />
      <img src="https://tailwindcss.com/_next/static/media/docs@30.beeb08605f12f699c5abc3814763b65e.avif" alt="" class="w-[71.75rem] flex-none max-w-none dark:hidden" />
    </picture>
    <picture>
      <source srcset="https://tailwindcss.com/_next/static/media/docs-dark@30.77f062b5fd90f0d2cd4752cd9a8649c8.avif" type="image/avif" />
      <img src="https://tailwindcss.com/_next/static/media/docs-dark@30.77f062b5fd90f0d2cd4752cd9a8649c8.avif" alt="" class="w-[90rem] flex-none max-w-none hidden dark:block" />
    </picture>
  </div>
</div>
{{ "<!-- end of overlay -->" | safeHTML }}
{{ "<!-- start of navigation (add this on header scroll backdrop-blur) -->" | safeHTML }}
<header
  id="main-header"
  class="sticky top-0 inset-x-0 flex flex-wrap z-50 w-full flex-none transition-colors duration-500 lg:z-50 dark:border-slate-50/[0.06] bg-transparent supports-backdrop-blur:bg-white/60 dark:bg-transparent"
>
  <nav class="relative max-w-7xl w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" aria-label="Main Navigation">
    <div class="flex items-center justify-between">
      <a class="flex-none logo" href="/" aria-label="{{ .Site.Author.name }}'s logo">
        {{ partial "icons/logo.html" . }}
        <div hidden>
          <p class="hidden">{{ .Site.Params.Strapline }}</p>
          <a class="hidden" href="mailto:{{ .Site.Author.email }}" alt="Email Murshid Azher ({{ .Site.Author.email }})">{{ .Site.Author.email }}</a>
        </div>
      </a>
    </div>
    <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 sm:flex-row sm:items-center sm:justify-end sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:pl-7">
        <a
          class="hs-dark-mode-active:hidden block hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
          href="#!"
          data-hs-theme-click-value="dark"
        >
          <i data-feather="moon" class="w-4 h-4"></i>
        </a>
        <a
          class="hs-dark-mode-active:block hidden hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
          href="#!"
          data-hs-theme-click-value="light"
        >
          <i data-feather="sun" class="w-4 h-4"></i>
        </a>
        <button
          type="button"
          class="hs-dropdown-toggle inline-flex justify-center items-center gap-2 text-gray-500 dark:text-gray-400 focus:outline-none text-sm p-4 print:hidden"
          data-hs-modal="#global-search-modal"
        >
          <i data-feather="menu" class="w-4 h-4"></i>
        </button>
      </div>
    </div>
  </nav>
</header>
{{ "<!-- end of navigation -->" | safeHTML }}
