<div id="global-search-modal" class="hs-modal hidden w-full h-full fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto">
  <div
    class="hs-modal-open:mt-7 hs-modal-open:opacity-100 hs-modal-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto h-[calc(100%-3.5rem)] min-h-[calc(100%-3.5rem)] flex items-center"
  >
    <div class="mx-auto w-full max-w-xl overflow-hidden rounded-lg bg-white drop-shadow-2xl dark:bg-gray-900">
      <div
        class="flex relative justify-between items-center border-b border-gray-100 dark:border-gray-800 text-gray-900 font-normal outline-none dark:text-white text-md text-gray-900 font-light outline-none dark:text-white"
      >
        <input
          type="text"
          id="search-input"
          class="py-3 px-4 ml-7 mr-4 block w-5/6 focus:border-none focus:outline-none rounded-md bg-transparent"
          placeholder="Quick search..."
          oninput="showSearchResults()"
          autofocus
        />
        <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none z-20 pl-4">
          <i data-feather="search" class="w-4 h-4"></i>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pointer-events-none z-20 pr-4">
          <span class="bg-white text-gray-700 shadow-md shadow-indigo-500/40 text-xs font-medium rounded-md py-1 px-2 dark:text-gray-400 dark:bg-gray-800">⌘K</span>
        </div>
      </div>
      <div
        class="overflow-y-auto scrollbar-thumb-gray-300 scrollbar-track-gray-100 scrollbar-thin dark:scrollbar-thumb-gray-300 dark:scrollbar-track-gray-700 overflow-y-scroll scrollbar-thumb-rounded-full"
        style="max-height: 400px;"
      >
        <div class="space-y-4">
          <div>
            <div class="py-2 px-3 text-xs font-semibold text-gray-500 dark:text-gray-400">Pages</div>
            <ul class="flex flex-col mt-1 text-gray-800 dark:text-gray-400">
              <li
                class="inline-flex items-center text-sm font-medium text-gray-800 flex cursor-pointer items-center justify-between gap-2 transition-colors hover:bg-gray-100 dark:hover:bg-gray-800 dark:text-white"
              >
                <div class="flex justify-between w-full py-2 px-5">
                  Profile
                  <span class="bg-white text-gray-700 shadow-md shadow-indigo-500/40 text-xs font-medium rounded-md py-1 px-2 dark:text-gray-400 dark:bg-gray-800">⌘K</span>
                </div>
              </li>
            </ul>
          </div>
          <ul id="list"></ul>

          <div>
            <h3 class="text-lg font-semibold text-gray-800 dark:text-white">Be optimistic</h3>
            <p class="mt-1 text-gray-800 dark:text-gray-400">
              {{ $.Scratch.Set "counter" 0 }}
              {{ $currentPage := . }}
              {{ range .Site.Menus.main }}
                {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                <a
                  class="text-sm leading-6 font-semibold text-slate-700 dark:text-slate-200 {{ if eq $menu_item_url $page_url -}}
                    text-blue-600 dark:text-blue-500
                  {{- else -}}
                    text-gray-500 hover:text-gray-400 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500
                  {{- end -}}"
                  href="{{ .URL }}"
                  >{{ print .Name }}</a
                >
              {{ end }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
