{{ partialCached "head-comment.html" . }}
<!DOCTYPE html>

{{ "<!--[if lt IE 9]><html class='lt-ie9'><![endif]-->" | safeHTML }}
{{ "<!--[if gt IE 8]><!--><html lang='en'><!--<![endif]-->" | safeHTML }}


<html dir="ltr" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . .Section -}}


  <body class="dark:bg-slate-900 min-h-[75rem]" aria-live="polite">
    {{ partial "header.html" . .Section -}}


    <a class="skip-link" href="#main-content">Skip to main content</a>

    <main id="main-content" style="overflow: hidden;">
      <div>
        <div>
          {{- block "main" . -}}{{- end -}}

        </div>
      </div>
    </main>

    {{- partialCached "footer.html" . .Type -}}
    {{- partial "blocks/global-search-modal.html" . .Type -}}

    {{- partial "footer_includes.html" . .Type -}}
  </body>
</html>
